<link rel="stylesheet" href="https://at.alicdn.com/t/font_588748_8klgjtxn6f7p66r.css">
<div class="container">
  <div class="user-details">
    <h3> 简  介 </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4><i class="iconfont icon-xueli"></i>  教育</h4>
      <p>河南大学<br>国际经济与贸易</p>
    </div>
    <div class="four columns">
      <h4><i class="iconfont icon-xcode"></i>  技能</h4>
      <p>Xcode<br>Objective C<br>Swift</p>
    </div>
    <div class="four columns">
      <h4><i class="iconfont icon-yingyushuiping"></i>  英语</h4>
      <p>雅思6.5分<br>大学英语6级 539分<br>BEC商务英语中级</p>
    </div>
  </div>
</div>
