<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/bzcj.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 博众财经 </h5>
<!--      <li> Featured Skills</li>-->
      <p>责任描述: 负责首页信息流，圈子直播，问答，优惠券，支付，订单等需求的实现 <br>项目简介: 向股民提供课程服务的学习平台</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/zxgb.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 自选股吧 </h5>
      <ul>
<!--        <li> loading ... </li>-->
      </ul>
      <p>责任描述: 负责圈子，诊股模块的开发与更新 <br>项目简介: 供股民查看行情，交流，学习的平台</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
      <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/weipanbao.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 微盘宝 </h5>
<!--      <li> Featured Skills</li>-->
      <p> 责任描述: 负责首页交易，优惠券，持仓模块的开发与维护。<br> 项目简介: 高杠杆现货交易平台，钱来的快去的也快  </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/zzy.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 掌中银 </h5>
      <ul>
<!--        <li> loading ... </li>-->
      </ul>
      <p>责任描述: 负责交易，优惠券，订单模块的实现与更新<br>项目简介: 白银现货交易平台 </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
