<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
      <div class="six columns images">
        <img alt="DRF" src="{{ "/assets/img/DRF.jpeg" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> Django REST framework </h5>
  <!--      <li> Featured Skills</li>-->
        <p>框架搭建，开发，部署<br>语言：Python <br>用此框架开发了卫龙真实吐槽论坛，福利发放平台后端，效果良好</p>
      </div>
    </div>
  <div class="row user-projects">
      <div class="six columns">
        <img alt="Metronic" src="{{ "/assets/img/metronic.png" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> Metronic管理后台 </h5>
  <!--      <li> Featured Skills</li>-->
        <p>基于Metronic的后台管理前端框架 <br>界面漂亮，可快速开发投入使用</p>
      </div>
    </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="博众财经" src="{{ "/assets/img/bzcj.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 博众财经 </h5>
<!--      <li> Featured Skills</li>-->
      <p>责任描述: 负责首页信息流，圈子直播，问答，优惠券，支付，订单等需求的实现 <br>项目简介: 向股民提供课程服务的学习平台</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="自选股吧" src="{{ "/assets/img/zxgb.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 自选股吧 </h5>
      <ul>
<!--        <li> loading ... </li>-->
      </ul>
      <p>责任描述: 负责圈子，诊股模块的开发与更新 <br>项目简介: 供股民查看行情，交流，学习的平台</p>
    </div>
  </div>
      <div class="row user-projects">
    <div class="six columns images">
      <img alt="微盘宝" src="{{ "/assets/img/weipanbao.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 微盘宝 </h5>
<!--      <li> Featured Skills</li>-->
      <p> 责任描述: 负责首页交易，优惠券，持仓模块的开发与维护。<br> 项目简介: 高杠杆现货交易平台，钱来的快去的也快  </p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="掌中银" src="{{ "/assets/img/zzy.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 掌中银 </h5>
      <ul>
<!--        <li> loading ... </li>-->
      </ul>
      <p>责任描述: 负责交易，优惠券，订单模块的实现与更新<br>项目简介: 白银现货交易平台 </p>
<!--      <a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
</div>
