<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/bzcj.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 博众财经 </h5>
      <li> Featured Skills</li>
      <p>刚刚在路上捡到100块钱，上面居然写着“钱是我故意扔的，不要问我为什么，有钱，任性！”看完我顺手扔了，尼玛！搞得好像我不任性一样……………</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/zxgb.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 自选股吧 </h5>
      <ul>
        <li> loading ... </li>
      </ul>
      <p>问：达芬奇密码的上面知道是什么吗<br>答：？<br>问：是达芬奇帐号，那知道达芬奇密码的下面是什么吗<br>答：是达芬奇验证码</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
      <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/weipanbao.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 微盘宝 </h5>
      <li> Featured Skills</li>
      <p> 微盘宝 </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/zzy.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 掌中银 </h5>
      <ul>
        <li> loading ... </li>
      </ul>
      <p>问：达芬奇密码的上面知道是什么吗<br>答：？<br>问：是达芬奇帐号，那知道达芬奇密码的下面是什么吗<br>答：是达芬奇验证码</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
